DATABASE_URL=postgresql://usuario:senha@host-neon/neondb?sslmode=require

DEBUG_SQL=false

MAX_PAGES=3

SPACY_MODEL=pt_core_news_sm

CORS_ORIGINS=https://seu-frontend.vercel.app,http://localhost:5173


VITE_API_URL=https://sua-api-render.onrender.com