# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#pycache

__pycache__/
*.pyc
*.py[cod]
*$py.class
.env

#docker 

.data/

# Pastas de build do MkDocs
site/

# Ambiente virtual
backend/venv/
venv/
*.sqlite3
*.db

# ===== Testes e Cobertura =====
htmlcov/
.coverage
.coverage.*
*.cover
.pytest_cache/

# ===== Ambiente virtual =====
.venv/
env/

# ===== Python =====
*.pyo
*.egg-info/
# Relatórios de Cobertura de Testes
htmlcov/
.coverage

# Cobertura frontend
coverage/
frontend/coverage/

