:root {
  --md-primary-fg-color: #1b4b16; 
  --md-default-bg-color: #333333; 
  --md-default-fg-color: #ffffff; 
  --md-accent-fg-color: #4caf50;  
  
  /* Esta é a linha que força o site todo a usar a fonte clássica de jornal/livro */
  --md-text-font: "Times New Roman", Times, serif;
}

.md-content {
  max-width: 1000px;
  margin: 0 auto;
}