:root {
  --md-primary-fg-color: #1b4b16; 
  --md-default-bg-color: #333333; 
  --md-default-fg-color: #ffffff; 
  --md-accent-fg-color: #4caf50;  
  
  /* Esta é a linha que força o site todo a usar a fonte clássica de jornal/livro */
  --md-text-font: "Times New Roman", Times, serif;
}

.md-content {
  max-width: 1000px;
  margin: 0 auto;
}
/* Centraliza os itens do menu de abas superior */
.md-tabs__list {
  justify-content: center;
  width: 100%;
}

/* Aumenta o tamanho e o peso da fonte do menu */
.md-tabs__link {
  font-size: 1.15rem; /* Aumenta o texto (o padrão é em torno de 0.8rem) */
  opacity: 0.9; /* Deixa o texto levemente mais forte */
}

/* Deixa o item que está selecionado no momento um pouco mais destacado */
.md-tabs__link--active {
  font-weight: bold;
  opacity: 1;
}